<!DOCTYPE html>

<html lang="en">
    <head>
        <title><h1>Find friend</h1></title>
    </head>
    <body>
    <style>
        body
        {
            background: url('j.jpg');
            background-size: cover;
            text-align: center;
            font-family: sans-serif;

        }
    </style>
    <div>
<h1><span style="font-family: verdana,sans-serif; color: #000000; ">Find friend</span></h1>
            <form method="post" action="/map", name="find_friends">
                <label><h2><span style="color: black;">Enter the username</span></h2></label>
                <input type="text" type="submit" tubindex="-1" name="name">
            </form>
    </div>



    </body>
</html>